body{
/* 	background-color:#F8EFBA;	 */
background-color:#78e08f;
}

h5{
	margin-left: 65px;
	font-size: 28px;
/* 	color: #2C3A47; */
	color:#182C61;
}
	
input{
/* 	 margin: 25px 50px 75px 100px; */
	font-family: "Times New Roman";
	font-size: 20px;
	margin-top: 10px;
	margin-left: 15px;
/* 	font-style: Lacquer; */
}

p{
/* 	font-family: "Anton"; */
	font-family: "Righteous";
	text-align: center;
	margin-left: 15px;
	font-size: 21px;
	color: #2f3640;
}
input{
	margin-left: 65px;
	
}
 input#decVal,#binaryVal,#TwosCompVal{
	height: 36px;
}
input#getDecBtn,#getbinaryBtn,#getTwosCompBtn {
	color: #182C61;
}
