body{
	background-color:#dcdde1;
}

h5{
	font-size: 20px;
	font-style: bold;
	color: #182C61;
	font-family: "Inconsolata";
}
p{
	font-size: 15px;
	font-family: "Righteous";
}
.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled){
/* 	margin-left: 65px; */
	color: #f5f6fa;
	background-color: #05386B;
	font-size: 16px;
	margin-top: 10px; 
	margin-left: 12px;
	margin-right: 12px;
	text-align: center;
	font-family: "Righteous";

}
label{
	margin-top: -15px;
	margin-bottom: 5px;
	font-size: 20px;
}

#firstBox{
	text-align: center; 
	position: fixed;  
	top: 40%;
    left: 30%;
  	transform: translate(-50%, -50%); 
}
#secondBox{
	text-align: center; 
	position: fixed;  
	top: 40%;
    left: 70%;
  	transform: translate(-50%, -50%); 
}


/*  for the phone */
@media only screen and (max-width: 400px) {
	#firstBox{
	text-align: center; 
	position: fixed;  
	top: 25%;
    left: 50%;
  	transform: translate(-50%, -50%); 
	}
#secondBox{
	text-align: center; 
	position: fixed;  
	top: 65%;
    left: 50%;
  	transform: translate(-50%, -50%);
	
	}
}
/*  Code by Adam Tayabali*/
